# Savaed Google auth tokens
python_google_spreadsheet/.credentials/
.credentials/

# Secret API key
client_secret.json

# IDE file
.idea/

# Test of efficiency
work_checker.py

# Package files
PythonGoogleSpreadsheet.egg-info/
dist/

